<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.min.js"></script>
    <style>
    </style>
</head>

<body>
    <div id="app">
        <hr>* 全局注册,局部注册
        <my-component :msg="msg" :width="width"></my-component>

        <solt-component>
            <p slot="slot" slot-scope="prop">

                {{prop.text}}
                {{prop.ss}}
            </p>
        </solt-component>

        <app-component msg="Vue"></app-component>

        <hr>* 使用v-bind动态绑定
        <input type="text" v-model="width">
        <bind-component :bindmsg="bindmsg"></bind-component>
        <app-component-two></app-component-two>
        {{total}}
        <btn-component @change="handleTotal"></btn-component>
        <son-component v-model="total"></son-component>
    </div>


    <script>
        Vue.component('my-component', {
            props: ['msg', 'width'],
            template: `<div :style="style"> {{msg}}的全局组件
            </div>`,
            computed: {
                style: function () {
                    return {
                        width: this.width + 'px',
                        background: 'red'
                    }
                }

            }
        })
        Vue.component('solt-component', {
            template: `<div>\ 
                <slot text="我是来自子组件的数据" ss="-- 作用域插槽" name="slot">\
                </slot>\
            </div>`,
            mounted: function () {
                var slot = this.$slots.slot;


            },
            computed: {

            }
        })


        let appComponent = { props: ['msg'], template: '<div>{{msg}}的局部组件</div>' }
        let appComponentTwo = { template: '<div>第二个Vue的局部组件</div>' }
        let bindComponent = { props: ['bindmsg'], template: '<div>{{bindmsg}}</div>' }
        let btnComponent = {  //子组件通过$emit触发事件传递count
            template: `<div>
                                    <button @click="handleincrease">+1000</button> 
                                    <button @click="handlereduce">-1000</button>
                                </div>`,
            data: function () {
                return {
                    count: 0
                }
            },
            methods: {
                handleincrease: function () {
                    this.count += 1000;
                    this.$emit('change', this.count);//$emit触发事件传参count数据
                },
                handlereduce: function () {
                    this.count -= 1000;
                    this.$emit('change', this.count);
                }
            }
        }




        var app = new Vue({
            el: '#app',
            components: {
                'app-component': appComponent,
                'app-component-two': appComponentTwo,
                //'btn-component':{props:['puls'],template:'<button @click="">{{count}} </button>'},
                'bind-component': bindComponent,

                'btn-component': btnComponent,
            },
            data: {         //双向绑定数据
                msg: 'Vue组件',
                bindmsg: 'Vue组件的局部组件',
                count: 0,
                width: 200,
                total: 0,
            },
            computed: {

            },
            methods: {
                puls: function () {
                    this.count += 1
                },
                handleTotal: function (value) {
                    this.total = value
                }
            }
        })



    </script>
</body>

</html>